.containerBody {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapImg {
    width: 19%;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.wrapImg img {
    width: 100%;
    height: auto;
}